@keyframes popup {
  from {opacity:1}
  to {opacity:0}
}


/* //Exit PopUp */

.exit-box{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.52);
  top: 0px;
  z-index: 99;
  text-align: center;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.exit-box .exit-mesasge{
 /*  box-shadow: var(--box-shadow); */
  width: 300px;
  background-color: white;
  direction: var(--site-direction);
  border-radius: 8px;
  margin: auto;
  display: block;
  padding: 2rem;
}
.exit-box .exit-mesasge .title-exit{
  display: flex;
  margin: auto;
  justify-content: center;
  width: max-content;
 margin: auto;
 direction: rtl;
}
.exit-box .exit-mesasge .title-exit > div  > img{
  max-width: 30px;
  flex: 30px;
  display: block;
  margin: 0px 12px;
  position: relative;
  top: 4px;
}
.exit-box .exit-mesasge .title-exit > h2{
  color: var(--primary-black);
  font-size: 18pt;
  margin: 0px;
  font-weight: bold;
}
.exit-box .exit-mesasge > p{
  color: var(--primary-black);
  font-size: 12pt;
  margin-top: 16px;
}
.exit-box .redirect-btn{
  display: flex;
  justify-content: center;
}
.exit-box .redirect-btn > a{
  margin: 1rem;
  min-width: 120px;
  width:max-content;
  display: block;
  text-align: center;
  cursor: pointer;

}
.exit-box .redirect-btn > a:last-child{
  background-color: var(--disable-pen);
  border-radius: 12px;
  color:white;
}
.exit-box .redirect-btn > a:first-child{
  background-color: var(--main-dark);
  border-radius: 12px;
  color: white;
}