.row-fields{
    display: flex;
    flex-wrap: wrap;
    direction: rtl;
    width: 100%; 
    margin-top: 2rem;
}
.row-fields.center-row{
    justify-content: center;
}
.row-fields textarea{
    margin: 2px 1rem;
}
.row-fields > div{
    margin: 1rem;
}
.row-fields .MuiInputLabel-formControl{
    left: auto;
    right: 0px;
}
.row-fields  .MuiSelect-select{
    min-width: 160px;
}
.row-fields label , .row-fields  input::placeholder  ,.row-fields  input , .row-fields div ,.row-fields textarea ,.row-fields textarea::placeholder , .row-fields span{
    font-family:"IRANSansWeb" !important;
    text-align: right;
}
.row-fields textarea{
    padding: 12px;
}
.row-fields button{
    margin: 1rem;
}
.row-fields .error-btn{
    background-color: var(--error);
    border: none;
}
.row-fields .error-btn span{
    color: white;
}
.row-fields .error-btn:hover span{
    color: var(--error  );
}
.row-fields .MuiSelect-icon{
    left: 0px;
    right: auto;
}
.row-fields .ltr-input{
    direction: ltr;
    text-align: left;
}
.factore-data {
    background-color: white;
    position: relative;
    padding:1.2rem 16px;
    direction: rtl;
    text-align: right;
    border-radius: 12px;
    margin: 1rem auto;
}.factore-data > h2 ,h3{
    margin: 0.5rem 0;
}
.factore-data  p{
    margin-bottom: 6px;
    margin-top: 6px;
    color: var(--main-dark);
}
.qrcode{
    position: absolute;
    left: 32px;
    top: 16px;
}
.factore-data .factore-detail{
    display: flex;
    flex-wrap: wrap;
    max-width: 60%;
}
.factore-data .factore-detail > p{
    margin: 0 0 0 2rem ;
}
.factore-data .factore-detail > p:first-child{
    font-weight: bold;
}
.order-link{
    text-decoration: none;
    color: var(--main-dark);
}
/* @media(max-width:420px){
    .qrcode {
        position: relative;
    }
} */