.edit-img-profile .custom-file-input {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0px;
    z-index:1;
    opacity: 0;
    cursor: pointer;
}
 .edit-img-profile {
    width: max-content;
    height: 40px;
    border-radius: 50%;
    padding: 10px 4px;
    position: relative;
    text-align: center;
    cursor: pointer;
    margin: auto;
    top: 28px;
    direction: rtl;
}
.edit-img-profile > p{
    width:auto;
    cursor: pointer;
    display: block;
    background-color: white;
    color: var(--main-pen);
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 10pt;
}
    .edit-img-profile > p > i {
        
      margin-left: 4px;
    
    }
    .edit-img-profile svg{
        color:var(--light-gray)
    }
    
 .edit-asset-item {
    max-width: 15%;
    flex: 15%;
    text-align: center;
    position: relative;
    background-color: var(--light-gray);
    border-radius: 16px;
   /*  margin:28px 14px; */
    position: relative;
    padding: 20px;
    /* box-shadow: 1px 1px 10px #999; */
    margin:8px;
}
.edit-asset-item > svg{
    position: absolute;
    right: 4px;
    top: -24px;
    cursor: pointer;
}
 .edit-asset-item  > img{
    width: 100px;
    height: 80px;
    object-fit: contain;
}
 .edit-asset-item  > p{
    direction: ltr;
    font-size: 10pt;
    color: var(--light-gray);
    position: absolute;
    right: 12px;
    bottom: -4px;
}
 .edit-asset-item  > div{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.555);
    top: 0px;
    right: 0px;
    border-radius: 16px;
    display: none;
}
 .edit-asset-item:hover > div{
    transition-duration: 1s;
    cursor: pointer;
    display: block;
}
 .edit-asset-item  > div > i {
    font-size: 3em;
    color: var(--main-pen);
}

 .edit-asset-item  > div > a {
    display: block;
    margin: 16px auto;
    color: var(--main-pen);
    font-size: 10pt;
    text-decoration: underline;
}

.video_player{
    border: 1px solid #c4c4c4;
    width: 70%;
}



@media(max-width:1200px){
 .edit-asset-item {
        max-width: 30%;
        flex: 30%;
        margin:16px;
    }
}
@media(max-width:991px){
    .edit-asset-item {
        max-width: 44%;
        flex: 44%;
        margin:24px 6px;
    }
}