@font-face {
  font-family: "IRANSansWeb";
  src: url("./fonts/eot/IRANSansWeb.eot");
  src: url("./fonts/eot/IRANSansWeb.eot") format("embedded-opentype"),
  url("./fonts/woff/IRANSansWeb.woff") format("woff"),
  url("./fonts/ttf/IRANSansWeb.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
*{
  font-family: "IRANSansWeb" !important;
}
body{
  font-family:"IRANSansWeb" !important;
  background-color: #eee;
}
:root{
  --box-shadow:0px 3px 12px 2px rgb(238, 238, 238);
  --main-dark:#1c1e1c;
  --main-color:#e0136e;
  --light-gray:rgb(216, 216, 216);
  --main-pen:rgb(41, 41, 41);
  --disable-pen:rgb(143, 143, 143);
  --error:rgb(175, 19, 19);
}

.App {
  text-align: center;
  padding: 2rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.mx{
  padding: 3rem;
  position: relative;
}
.flex-center{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.rtl{
  direction: rtl;
}
.ltr{
  direction: ltr;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.waiting{
  color: rgb(133, 0, 0);
}
.processing{
  color: rgb(226, 173, 0);
}
.sending{
  color: rgb(0, 122, 51);
}
.finishing{
  color: rgb(0, 75, 126);
}